<div id="aside"><span class="first">LECCION 4 "ABECEDARIO"</span>
  <p>&nbsp;</p>
  <div>
    <div>
      <div onclick="javascript:repTds(7,'Spider,Whale,Horse,Pig,Deer,Rabbit,Dolphin,Elephant,Seal,Hen,Cock,Cat,Gorilla,Hamster,Ant',2)">
        <p>&nbsp;</p>
        <div>
          <div>
            <h2><strong>Frutas y Vegetales en Inglés</strong></h2>
            <table width="auto%" border="0" cellspacing="0" cellpadding="2">
              <tbody>
                <tr>
                  <td><strong><a href="http://www.inglesmundial.com/Intermedio/Leccion7/banana.mp3">banana</a> - banana, plátano<br>
                    <a href="http://www.inglesmundial.com/Intermedio/Leccion7/apple.mp3">apple</a> - manzana<br>
                    <a href="http://www.inglesmundial.com/Intermedio/Leccion7/grape.mp3">grape</a> - uva<br>
                    <a href="http://www.inglesmundial.com/Intermedio/Leccion7/lemon.mp3">lemon</a> - limón<br>
                    <a href="http://www.inglesmundial.com/Intermedio/Leccion7/orange.mp3">orange</a> - naranja<br>
                    <a href="http://www.inglesmundial.com/Intermedio/Leccion7/cherry.mp3">cherry</a> - cereza<br>
                    <a href="http://www.inglesmundial.com/Intermedio/Leccion7/pear.mp3">pear</a> - pera<br>
                    <a href="http://www.inglesmundial.com/Intermedio/Leccion7/grapefruit.mp3">grapefruit</a> - pomelo, toronja<br>
                    <a href="http://www.inglesmundial.com/Intermedio/Leccion7/strawberry.mp3">strawberry</a> - fresa<br>
                    <a href="http://www.inglesmundial.com/Intermedio/Leccion7/watermelon.mp3">watermelon</a> - sandía<br>
                    <a href="http://www.inglesmundial.com/Intermedio/Leccion7/pineapple.mp3">pineapple</a> - piña<br>
                    <a href="http://www.inglesmundial.com/Intermedio/Leccion7/lime.mp3">lime</a> - lima<br>
                    <a href="http://www.inglesmundial.com/Intermedio/Leccion7/peach.mp3">peach</a> - durazno, melocotón</strong><br>
                    <strong><a href="http://www.inglesmundial.com/Intermedio/Leccion7/corn.mp3">corn</a> - maíz<br>
                      <a href="http://www.inglesmundial.com/Intermedio/Leccion7/onion.mp3">onion</a> - cebolla<br>
                      <a href="http://www.inglesmundial.com/Intermedio/Leccion7/tomato.mp3">tomato</a> - tomate<br>
                      <a href="http://www.inglesmundial.com/Intermedio/Leccion7/carrot.mp3">carrot</a> - zanahoria<br>
                      <a href="http://www.inglesmundial.com/Intermedio/Leccion7/potato.mp3">potato</a> - papa<br>
                      <a href="http://www.inglesmundial.com/Intermedio/Leccion7/broccoli.mp3">broccoli</a> - brócoli<br>
                      <a href="http://www.inglesmundial.com/Intermedio/Leccion7/green_bean.mp3">green bean</a> - ejote<br>
                      <a href="http://www.inglesmundial.com/Intermedio/Leccion7/green_pepper.mp3">green pepper</a> - pimiento verde          <br>
                      <a href="http://www.inglesmundial.com/Intermedio/Leccion7/celery.mp3">celery</a> - apio<br>
                      <a href="http://www.inglesmundial.com/Intermedio/Leccion7/lettuce.mp3">lettuce</a> - lechuga<br>
                      <a href="http://www.inglesmundial.com/Intermedio/Leccion7/cucumber.mp3">cucumber</a> - pepino<br>
                      <a href="http://www.inglesmundial.com/Intermedio/Leccion7/mushroom.mp3">mushroom</a> - champiñón, seta<br>
                      <a href="http://www.inglesmundial.com/Intermedio/Leccion7/pea.mp3">pea</a> - guisante, chicharo</strong></td>
                  </tr>
                </tbody>
              </table>
          </div>
          <div>
            <table width="100%" replaceclick="three thousand three hundred and thirty-three">
              <tbody>
                <tr>
                  <td></td>
                  <td>&nbsp;</td>
                  </tr>
                </tbody>
              </table>
          </div>
          </div>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
      </div>
      </div>
    <div>
      <div onclick="javascript:repTds(7,'Giraffe,Lion,Wolf,Parrot,Butterfly,Monkey,Fly,Bat,Bear,Bird,Duck,Dog,Fish,Mouse,Fox',2)">
        <p>&nbsp;</p>
        <p><a href="Acomidas.html">ACTIVIDAD</a></p>
      </div>
      </div>
    </div>
  <br>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</div>