<div class="article">
  <ul>
    <li class="first">
        <div class="section">
        </div>
        <div>
          <h1><a href="index.html">NUMEROS</a></h1>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/b02Ojls1O14" frameborder="0" allowfullscreen></iframe>
        </div>
    </li>
    <li>
      <div class="section">
      </div>
      <div>
        <h1><a href="index.html">NUMEROS</a></h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/2p86BxL1CSg" frameborder="0" allowfullscreen></iframe>
      </div>
    </li>
  </ul>
</div>