.beige{
    background-color: beige;
}

.black{
    background-color: black;
}

.blue{
    background-color: blue;
}

.brown{
    background-color: brown;
}

.fuchsia{
    background-color: fuchsia;
}

.golden{
    background-color: gold;
}

.green{
    background-color: green;
}

.gray {
    background-color: gray;
}

.maroon{
    background-color: maroon;
}

.orange{
    background-color: orange;
}

.pink{
    background-color: pink;
}

.purple {
    background-color: purple;
}

.red {
    background-color: red;
}

.silver{
    background-color: silver;
}

.yellow {
    background-color: yellow;
}

.white{
    background-color: white;
}