<div id="aside"><span class="first">LECCION 6 "PARTES DEL CUERPO"</span>
  <p>&nbsp;</p>
  <div>
    <div>
      <h2>Partes del Cuerpo</h2>
      <p><a href="http://www.inglesmundial.com/Basico/Leccion12/head.mp3" lang="en-US">head</a> - cabeza<br>
        <a href="http://www.inglesmundial.com/Basico/Leccion12/eye.mp3" lang="en-US">eye</a> - ojo<br>
        <a href="http://www.inglesmundial.com/Basico/Leccion12/nose.mp3" lang="en-US">nose</a> - nariz<br>
        <a href="http://www.inglesmundial.com/Basico/Leccion12/mouth.mp3" lang="en-US">mouth</a> - boca<br>
        <a href="http://www.inglesmundial.com/Basico/Leccion12/ear.mp3" lang="en-US">ear</a> - oreja, oído<br>
        <a href="http://www.inglesmundial.com/Basico/Leccion12/neck.mp3" lang="en-US">neck</a> - cuello<br>
        <a href="http://www.inglesmundial.com/Basico/Leccion12/back.mp3" lang="en-US">back</a> - espalda<br>
        <a href="http://www.inglesmundial.com/Basico/Leccion12/chest.mp3" lang="en-US">chest</a> - pecho<br>
        <a href="http://www.inglesmundial.com/Basico/Leccion12/stomach.mp3" lang="en-US">stomach</a> - estómago<br>
        <a href="http://www.inglesmundial.com/Basico/Leccion12/shoulder.mp3" lang="en-US">shoulder</a> - hombro<br>
        <a href="http://www.inglesmundial.com/Basico/Leccion12/arm.mp3" lang="en-US">arm</a> - brazo<br>
        <a href="http://www.inglesmundial.com/Basico/Leccion12/elbow.mp3" lang="en-US">elbow</a> - codo<br>
        <a href="http://www.inglesmundial.com/Basico/Leccion12/hand.mp3" lang="en-US">hand</a> - mano<br>
        <a href="http://www.inglesmundial.com/Basico/Leccion12/finger.mp3" lang="en-US">finger</a> - dedo<br>
        <a href="http://www.inglesmundial.com/Basico/Leccion12/wrist.mp3" lang="en-US">wrist</a> - muñeca<br>
        <a href="http://www.inglesmundial.com/Basico/Leccion12/leg.mp3" lang="en-US">leg</a> - pierna<br>
        <a href="http://www.inglesmundial.com/Basico/Leccion12/knee.mp3" lang="en-US">knee</a> - rodilla<br>
        <a href="http://www.inglesmundial.com/Basico/Leccion12/ankle.mp3" lang="en-US">ankle</a> - tobillo<br>
        <a href="http://www.inglesmundial.com/Basico/Leccion12/foot.mp3" lang="en-US">foot</a> - pie <br>
        <a href="http://www.inglesmundial.com/Basico/Leccion12/toe.mp3" lang="en-US">toe</a> - dedo del pie</p>
      <div onclick="javascript:repTds(7,'Spider,Whale,Horse,Pig,Deer,Rabbit,Dolphin,Elephant,Seal,Hen,Cock,Cat,Gorilla,Hamster,Ant',2)">
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
      </div>
      </div>
    <div>
      <div onclick="javascript:repTds(7,'Giraffe,Lion,Wolf,Parrot,Butterfly,Monkey,Fly,Bat,Bear,Bird,Duck,Dog,Fish,Mouse,Fox',2)">
        <p>&nbsp;</p>
        <p><a href="Acuerpo.html">ACTIVIDAD</a></p>
      </div>
      </div>
    </div>
  <br>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</div>