<div class="article">
    <ul>
      <li class="first">
        <div>
          <h1><a href="index.html">PARTES DEL CUERPO</a></h1>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/Z2bh3Am98y0" frameborder="0" allowfullscreen></iframe>
        </div>
      </li>
      <li>
        <div>
          <h1><a href="index.html">PARTES DEL CUERPO</a></h1>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/AsM1cgsip-o" frameborder="0" allowfullscreen></iframe>
        </div>
      </li>
    </ul>
  </div>