<div id="aside"><span class="first">LECCION 3 "NUMEROS"</span>
  <p>&nbsp;</p>
  <div>
    <div>
      <div onclick="javascript:repTds(7,'Spider,Whale,Horse,Pig,Deer,Rabbit,Dolphin,Elephant,Seal,Hen,Cock,Cat,Gorilla,Hamster,Ant',2)">
        <p>&nbsp;</p>
        <div>
          <div><br>
          NUMBERS</div>
          <div>
            <p><br>
                <strong>Del 1 al 12</strong></p>
                  <div>
                    <p><strong>one</strong> (1), <strong>two</strong> (2), <strong>three</strong> (3), <strong>four</strong> (4), <strong>five</strong> (5), <strong>six</strong>(6), s<strong>even</strong> (7),</p>
                    <p><strong>eight</strong> (8), <strong>nine</strong> (9), <strong>ten</strong> (10), <strong>eleven</strong> (11), <strong>twelve</strong> (12)</p>
                  </div>
                  <p>&nbsp;</p>
                  <p><strong>Del 13 al 19</strong><br>
                    La terminación es &ldquo;<strong>-teen</strong>&rdquo; que suena como &ldquo;tin&rdquo; en español.</p>
                  <div>
                    <p><strong>thirteen</strong> (13), <strong>fourteen</strong> (14), <strong>fifteen</strong> (15), <strong>sixteen</strong> (16), <strong>seventeen</strong> (17), <strong>eighteen</strong>(18), <strong>nineteen</strong> (19)</p>
                  </div>
                  <p>&nbsp;</p>
                  <p><strong>20, 30, 40, 50, 60, 70, 80, 90</strong></p>
                  <p>La terminación es &ldquo;<strong>-ty</strong>&rdquo; y suena como &ldquo;ti&rdquo; en español.</p>
            <div>
              <p><strong>twenty</strong> (20), <strong>thirty</strong> (30), <strong>forty</strong> (40), <strong>fifty</strong> (50), <strong>sixty</strong> (60), <strong>seventy</strong> (70), <strong>eighty</strong> (80), <strong>ninety</strong> (90)</p>
            </div>
            <p>&nbsp;</p>
            <p><strong>Para formar decenas se añade un guión entre la decenas y el número.</strong></p>
            <div>
              <p><strong>twenty-one</strong> (21), <strong>thirty-two</strong> (32), <strong>forty-three</strong> (43), <strong>fifty-four</strong>(54), <strong>sixty-five</strong> (65), <strong>seventy-six</strong> (76), <strong>eighty-seven</strong> (87), <strong>ninety-eight</strong> (98)</p>
            </div>
            <p>&nbsp;</p>
            <p><strong>Para formar centenas:</strong></p>
            <div>
              <p><strong>a/one hundred</strong> (100), <strong>two hundred</strong> (200), <strong>three hundred</strong> (300)…</p>
            </div>
            <p>&nbsp;</p>
            <p><strong>Para unir las centenas con las decenas se unirán con &ldquo;and&rdquo;.</strong></p>
            <div>
              <p><strong>two hundred and fifty-five</strong> (255), <strong>six hundred and forty-eight</strong> (648)…</p>
            </div>
            <p>&nbsp;</p>
            <p><strong>Para los millares:</strong></p>
            <div>
              <p><strong>a/one thousand</strong> (1,000), <strong>two thousand</strong> (2,000), <strong>ten thousand</strong> (10,000)…</p>
              <p>&nbsp;</p>
            </div>
            <p><strong>Para los millones:</strong></p>
            <div>
              <p><strong>a/one million</strong> (1,000,000), <strong>two million</strong> (2,000,000), <strong>three million</strong> (3,000,000)…</p>
            </div>
            <p>&nbsp;</p>
            <p>Ejemplos:</p>
            <table width="100%" replaceclick="one hundred and two">
              <tbody>
                <tr>
                  <td></td>
                  <td>a/one hundred and two(102)</td>
                  </tr>
                </tbody>
              </table>
            <table width="100%" replaceclick=" three hundred and twelve">
              <tbody>
                <tr>
                  <td></td>
                  <td>three hundred and twelve(312)</td>
                  </tr>
                </tbody>
              </table>
            <table width="100%" replaceclick=" five thousand and ten">
              <tbody>
                <tr>
                  <td></td>
                  <td>five thousand and ten(5,010)</td>
                  </tr>
                </tbody>
              </table>
            <table width="100%" replaceclick=" two million five hundred thousand  two and a half million">
              <tbody>
                <tr>
                  <td></td>
                  <td>two million five hundred thousand / two and a half million(2,500,000)</td>
                  </tr>
                </tbody>
              </table>
            <table width="100%" replaceclick="six thousand two hundred and seventy-nine">
              <tbody>
                <tr>
                  <td></td>
                  <td>six thousand two hundred and seventy-nine( 6,279)</td>
                  </tr>
                </tbody>
              </table>
            <table width="100%" replaceclick="two thousand two hundred and twenty-two">
              <tbody>
                <tr>
                  <td></td>
                  <td>two thousand two hundred and twenty-two(2,222)</td>
                  </tr>
                </tbody>
              </table>
            <table width="100%" replaceclick="three thousand three hundred and thirty-three">
              <tbody>
                <tr>
                  <td></td>
                  <td>three thousand three hundred and thirty-three(3,333)</td>
                  </tr>
                </tbody>
              </table>
          </div>
          </div>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
      </div>
      </div>
    <div>
      <div onclick="javascript:repTds(7,'Giraffe,Lion,Wolf,Parrot,Butterfly,Monkey,Fly,Bat,Bear,Bird,Duck,Dog,Fish,Mouse,Fox',2)">
        <p>&nbsp;</p>
        <p><a href="Anumeros.html">ACTIVIDAD</a></p>
      </div>
      </div>
    </div>
  <br>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</div>