<div class="article">
  <ul>
    <li class="first">
      <div>
        <h1><a href="index.html">COMIDAS</a></h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/t1aV_coMhXo" frameborder="0" allowfullscreen></iframe>
      </div>
    </li>
    <li>
      <div>
        <h1><a href="index.html">COMIDAS</a></h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/nw3WHYw1rtY" frameborder="0" allowfullscreen></iframe>
      </div>
    </li>
  </ul>
</div>