label > input{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}
label > input + img{ /* IMAGE STYLES */
    cursor:pointer;
    border:2px solid transparent;
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
    border:2px solid #f00;
}

img{
    margin:0 auto;
    height: 150px;
    width: 150px;
}

.respuesta{
    font-size: 1.5rem;
}

.top-50{
    margin-top: 50px;
}

.numeracion{
    font-size: 1.5rem;
}
