<div class="article">
  <ul>
    <li class="first">
        <div>
          <h1><a href="index.html">COLORES</a></h1>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/c6BVOQfgMP8" frameborder="0" allowfullscreen></iframe>
        </div>
    </li>
    <li>
      <div>
        <h1><a href="index.html">COLORES</a></h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/4sSXrGuHJrg" frameborder="0" allowfullscreen></iframe>
      </div>
    </li>
  </ul>
</div>