<div class="article">
  <ul>
    <li class="first">
      <div>
        <h1><a href="index.html">PARTES DE UNA CASA</a></h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/8AlDbJcqBIs" frameborder="0" allowfullscreen></iframe>
      </div>
    </li>
    <li>
      <div>
        <h1><a href="index.html">PARTES DE UNA CASA</a></h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/CRdaBzHyVww" frameborder="0" allowfullscreen></iframe>
      </div>
    </li>
  </ul>
</div>