<div id="aside" class="container-fluid">
  <span class="first">LECCION 1 "ANIMALES"</span>
  <hr>
  <form [formGroup]="formulario" id="needs-validation" class="mt-1" novalidate >
    <div class="form-group row mt-2">
      <div class="col-md-3">
        <label for="exampleInputEmail1">1.</label>
        <img src="../../../../assets/images/animals/jirafa.jpg" width="150" height="159" alt="jirafa">
      </div>
      <div class="col-md-7">
        <select class="custom-select w-75" formControlName="pregunta1">
          <option value="elephant">elephant</option>         
          <option value="bear">bear</option>               
          <option value="monkey">monkey</option>               
          <option value="giraffe">giraffe</option>               
          <option value="turtle">turtle</option>               
          <option value="tiger">tiger</option>               
          <option value="whale">whale</option>               
          <option value="lion">lion</option>               
          <option value="rhinoceros">rhinoceros</option>               
          <option value="gorilla">gorilla</option>       
        </select>        
      </div>    
      <div class="col-md-2">
        <input class="form-control-plaintext respuesta" [style.color]="color1" formControlName="respuesta1" readonly size="10" >
      </div>  
    </div>
    <div class="form-group row top-50">
      <div class="col-md-3">
        <label for="exampleInputEmail1">2.</label>
        <img src="../../../../assets/images/animals/mono.jpg" width="150" height="159" alt="jirafa">
      </div>
      <div class="col-md-7">
        <select class="custom-select w-75" formControlName="pregunta2">
          <option value="elephant">elephant</option>         
          <option value="bear">bear</option>               
          <option value="monkey">monkey</option>               
          <option value="giraffe">giraffe</option>               
          <option value="turtle">turtle</option>               
          <option value="tiger">tiger</option>               
          <option value="whale">whale</option>               
          <option value="lion">lion</option>               
          <option value="rhinoceros">rhinoceros</option>               
          <option value="gorilla">gorilla</option>       
        </select>        
      </div>    
      <div class="col-md-2">
          <input class="form-control-plaintext respuesta" [style.color]="color2" formControlName="respuesta2" readonly size="10" >
      </div>  
    </div>
    <div class="form-group row top-50">
      <div class="col-md-3">
        <label for="exampleInputEmail1">3.</label>
        <img src="../../../../assets/images/animals/oso.jpg" width="150" height="159" alt="jirafa">
      </div>
      <div class="col-md-7">
        <select class="custom-select w-75" formControlName="pregunta3">
          <option value="elephant">elephant</option>         
          <option value="bear">bear</option>               
          <option value="monkey">monkey</option>               
          <option value="giraffe">giraffe</option>               
          <option value="turtle">turtle</option>               
          <option value="tiger">tiger</option>               
          <option value="whale">whale</option>               
          <option value="lion">lion</option>               
          <option value="rhinoceros">rhinoceros</option>               
          <option value="gorilla">gorilla</option>       
        </select>        
      </div>    
      <div class="col-md-2" >
          <input class="form-control-plaintext respuesta" [style.color]="color3" formControlName="respuesta3" readonly size="10" >
      </div>  
    </div>
    <div class="form-group row top-50">
      <div class="col-md-3">
        <label for="exampleInputEmail1">4.</label>
        <img src="../../../../assets/images/animals/ballena.jpg" width="150" height="159" alt="jirafa">
      </div>
      <div class="col-md-7">
        <select class="custom-select w-75" formControlName="pregunta4">
          <option value="elephant">elephant</option>         
          <option value="bear">bear</option>               
          <option value="monkey">monkey</option>               
          <option value="giraffe">giraffe</option>               
          <option value="turtle">turtle</option>               
          <option value="tiger">tiger</option>               
          <option value="whale">whale</option>               
          <option value="lion">lion</option>               
          <option value="rhinoceros">rhinoceros</option>               
          <option value="gorilla">gorilla</option>       
        </select>        
      </div>    
      <div class="col-md-2">
          <input class="form-control-plaintext respuesta" [style.color]="color4" formControlName="respuesta4" readonly size="10" >
      </div>  
    </div>
    <div class="form-group row top-50">
      <div class="col-md-3">
        <label for="exampleInputEmail1">5.</label>
        <img src="../../../../assets/images/animals/tigre.jpg" width="150" height="159" alt="jirafa">
      </div>
      <div class="col-md-7">
        <select class="custom-select w-75" formControlName="pregunta5">
          <option value="elephant">elephant</option>         
          <option value="bear">bear</option>               
          <option value="monkey">monkey</option>               
          <option value="giraffe">giraffe</option>               
          <option value="turtle">turtle</option>               
          <option value="tiger">tiger</option>               
          <option value="whale">whale</option>               
          <option value="lion">lion</option>               
          <option value="rhinoceros">rhinoceros</option>               
          <option value="gorilla">gorilla</option>       
        </select>        
      </div>    
      <div class="col-md-2">
        <input class="form-control-plaintext respuesta" [style.color]="color5" formControlName="respuesta5" readonly size="10" >
      </div>  
    </div>
    <div class="form-group row top-50">
      <div class="col-md-3">
        <label for="exampleInputEmail1">6.</label>
        <img src="../../../../assets/images/animals/leon.jpg" width="150" height="159" alt="jirafa">
      </div>
      <div class="col-md-7">
        <select class="custom-select w-75" formControlName="pregunta6">
          <option value="elephant">elephant</option>         
          <option value="bear">bear</option>               
          <option value="monkey">monkey</option>               
          <option value="giraffe">giraffe</option>               
          <option value="turtle">turtle</option>               
          <option value="tiger">tiger</option>               
          <option value="whale">whale</option>               
          <option value="lion">lion</option>               
          <option value="rhinoceros">rhinoceros</option>               
          <option value="gorilla">gorilla</option>       
        </select>        
      </div>    
      <div class="col-md-2">
        <input class="form-control-plaintext respuesta" [style.color]="color6" formControlName="respuesta6" readonly size="10" >
      </div>  
    </div>
    <div class="form-group row top-50">
      <div class="col-md-3">
        <label for="exampleInputEmail1">7.</label>
        <img src="../../../../assets/images/animals/rinoceronte.jpg" width="150" height="159" alt="jirafa">
      </div>
      <div class="col-md-7">
        <select class="custom-select w-75" formControlName="pregunta7">
          <option value="elephant">elephant</option>         
          <option value="bear">bear</option>               
          <option value="monkey">monkey</option>               
          <option value="giraffe">giraffe</option>               
          <option value="turtle">turtle</option>               
          <option value="tiger">tiger</option>               
          <option value="whale">whale</option>               
          <option value="lion">lion</option>               
          <option value="rhinoceros">rhinoceros</option>               
          <option value="gorilla">gorilla</option>       
        </select>        
      </div>    
      <div class="col-md-2">
        <input class="form-control-plaintext respuesta" [style.color]="color7" formControlName="respuesta7" readonly size="10" >
      </div>  
    </div>
    <div class="form-group row top-50">
      <div class="col-md-3">
        <label for="exampleInputEmail1">8.</label>
        <img src="../../../../assets/images/animals/elefante.jpg" width="150" height="159" alt="jirafa">
      </div>
      <div class="col-md-7">
        <select class="custom-select w-75" formControlName="pregunta8">
          <option value="elephant">elephant</option>         
          <option value="bear">bear</option>               
          <option value="monkey">monkey</option>               
          <option value="giraffe">giraffe</option>               
          <option value="turtle">turtle</option>               
          <option value="tiger">tiger</option>               
          <option value="whale">whale</option>               
          <option value="lion">lion</option>               
          <option value="rhinoceros">rhinoceros</option>               
          <option value="gorilla">gorilla</option>       
        </select>        
      </div>    
      <div class="col-md-2">
        <input class="form-control-plaintext respuesta" [style.color]="color8" formControlName="respuesta8" readonly size="10" >
      </div>  
    </div>
    <div class="form-group row top-50">
      <div class="col-md-3">
        <label for="exampleInputEmail1">9.</label>
        <img src="../../../../assets/images/animals/gorila.jpg" width="150" height="159" alt="jirafa">
      </div>
      <div class="col-md-7">
        <select class="custom-select w-75" formControlName="pregunta9">
          <option value="elephant">elephant</option>         
          <option value="bear">bear</option>               
          <option value="monkey">monkey</option>               
          <option value="giraffe">giraffe</option>               
          <option value="turtle">turtle</option>               
          <option value="tiger">tiger</option>               
          <option value="whale">whale</option>               
          <option value="lion">lion</option>               
          <option value="rhinoceros">rhinoceros</option>               
          <option value="gorilla">gorilla</option>       
        </select>        
      </div>    
      <div class="col-md-2">
        <input class="form-control-plaintext respuesta" [style.color]="color9" formControlName="respuesta9" readonly size="10" >
      </div>  
    </div>
  </form>
</div>

