<div id="aside">
    <p><span class="first">LECCION 7 "HOGAR"</span><strong>antenna</strong> <em>(anténa)</em> - antena<br>
            <strong>attic</strong> <em>(átic)</em> - desván<br>
            <strong>back yard</strong> <em>(bák iárd)</em> - patio trasero<br>
            <strong>balcony</strong> <em>(bálconi)</em> - balcón<br>
            <strong>basement</strong> <em>(béisment)</em> - sótano<br>
            <strong>bathroom</strong> <em>(báz rum)</em> - baño<br>
            <strong>bedroom</strong> <em>(béd rum)</em> - dormitorio<br>
            <strong>ceiling</strong> <em>(síling)</em> - cielorraso<br>
            <strong>cellar</strong> <em>(sélar)</em> - sótano, bodega<br>
            <strong>chimney</strong> <em>(chímni)</em> - chimenea<br>
            <strong>deck</strong> <em>(dék)</em> - balcón terraza<br>
            <strong>dining room</strong> <em>(dáining rúm)</em> - comedor<br>
            <strong>door</strong> <em>(dóor)</em> - puerta<br>
            <strong>door handle</strong> <em>(dóor jándl)</em> - picaporte<br>
            <strong>doorbell</strong> <em>(dóorbel)</em> - timbre<br>
          <strong>driveway</strong> <em>(dráiv uéi)</em> - entrada par el auto</p>
    <p><strong>fence</strong> <em>(féns)</em> - cerca<br>
            <strong>fence gate</strong> <em>(féns guéit)</em> - puerta de la cerca<br>
            <strong>floor</strong> <em>(flóor)</em> - piso<br>
            <strong>front yard</strong> <em>(frónt iárd)</em> - patio frontal<br>
          </p>
    <p><strong>garage</strong> <em>(garádch)</em> - garage<br>
            <strong>garden</strong> <em>(gárden)</em> - jardín<br>
            <strong>garden shed</strong> <em>(gárden shed)</em> - cobertizo<br>
            <strong>ground floor</strong> <em>(gráund flóor)</em> - planta baja<br>
          </p>
          <p><strong>hall</strong> <em>(hóol)</em> - vestíbulo<br>
            <strong>hallway</strong> <em>(hóol wéi)</em> - pasillo<br>
            <strong>hedge</strong> <em>(hédch)</em> - seto<br>
            <strong>key</strong> <em>(kíi)</em> - llave<br>
          </p>
          <p><strong>kitchen</strong> <em>(kíchen)</em> - cocina<br>
            <strong>laundry room</strong> <em>(lóndri rúum)</em> - lavadero<br>
            <strong>lawn</strong> <em>(lóon)</em> - césped<br>
            <strong>living room</strong> <em>(líving rúm)</em> - sala<br>
          </p>
          <p><strong>lock</strong> <em>(lóok)</em> - cerradura<br>
            <strong>mailbox</strong> <em>(méilboks)</em> - buzón<br>
            <strong>pantry</strong> <em>(pántri)</em> - despensa<br>
            <strong>patio</strong> <em>(pátiou)</em> - patio<br>
          </p>
          <p><strong>peephole</strong> <em>(píipjóul)</em> - mirilla de la puerta<br>
            <strong>pool</strong> <em>(pul)</em> - piscina<br>
            <strong>porch</strong> <em>(póorch)</em> - pórtico<br>
            <strong>roof</strong> <em>(rúf)</em> - techo<br>
          </p>
          <p><strong>room</strong> <em>(rúum)</em> - habitación<br>
            <strong>skylight</strong> <em>(skái-láit)</em> - tragaluz, claraboya<br>
            <strong>staircase</strong> <em>(stér kéis)</em> - escalera<br>
            <strong>steps</strong> <em>(stéps)</em> - escalones<br>
          </p>
          <p><strong>study</strong> <em>(stádi)</em> - despacho, estudio<br>
            <strong>utility room</strong> <em>(iutíliti rúum)</em> - cuarto de servicio<br>
            <strong>veranda</strong> <em>(veránda)</em> - galería, veranda<br>
            <strong>wall</strong> <em>(uól)</em> - pared<br>
          </p>
          <p><strong>window</strong> <em>(uíndou)</em> - ventana</p>
          <p><br>
  </p>
    <p><a href="Acasa.html">ACTIVIDAD</a></p>
    <p>&nbsp;</p>
  </div>