<div id="header">
  <div>
    <a [routerLink]="['/home']"><img src="../../../../assets/images/logo.jpg" alt="Logo" /></a>
    <ul>
      <li routerLinkActive="current"> 
        <a [routerLink]="['/home/bienvenida']">Inicio</a> 
      </li>
      <li routerLinkActive="current"> 
        <a [routerLink]="['/home/lecciones']">Lecciones</a>
       </li>
      <li routerLinkActive="current">
        <a [routerLink]="['/home/videos']">Videos</a>
      </li>
      <li routerLinkActive="current">
        <a [routerLink]="['/home/actividades']">Actividades</a>
      </li>
    </ul>
  </div>
</div>