<div id="aside">
  <span class="first">ACTIVIDAD 4 "ABECEDARIO"</span>
  <hr>
  <div class="row">
    <div class="col-md-6">
        <iframe src="http://www.educaplay.com/es/recursoseducativos/1687309/html5/abecedario.htm" width="100%" height="690" frameborder="0"></iframe>
    </div>
    <div class="col-md-6">
        <img alt="abecedario en ingles" height="360" longdesc="http://www.sopasletras.com/ingles/abecedario%20en%20ingles" src="http://www.sopasletras.com/ingles/imagenes/abecedario-en-ingles.jpg" width="584">
    </div>
  </div>
</div>